@using Ecom.Models
@model Ecom.Models.RegisterViewModel

    <h3> Register Your Account, Please</h3>

    <form method="post">

        <div>
            <label asp-for="FirstName">First Name</label>
            <input asp-for="FirstName" />
        </div>


        <div>
            <label asp-for="LastName">Last Name</label>
            <input asp-for="LastName" />
        </div>
        
            
        <div>
            <label asp-for="Email">Email</label>
            <input asp-for="Email"/>
        </div>
        
            
        <div>
            <label asp-for="Clan" >Clan</label>
            
            <select asp-for="Clan" asp-items="@Html.GetEnumSelectList(typeof(Clans))"></select>
        </div>
        
            
        <div>
            <label asp-for="Class">Class</label>
            <select asp-for="Class" asp-items="@Html.GetEnumSelectList(typeof(Classes))"></select>
        </div>
        
        <div>
            <label asp-for="Password">Password</label>
            <input asp-for="Password"/>
        </div>
        
        <div>
            <label asp-for="ConfirmPassword">Confirm Password</label>
            <input asp-for="ConfirmPassword"/>
        </div>
        
        <button type="submit">Submit</button>
    </form>