@model Week6IdentityDemo.Models.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<form method="post">
    <h4>Create a new account.</h4>
    <hr />

    <div>
        <label asp-for="Email">Email</label>
        <input asp-for="Email" />
    </div>


    <div>
        <label asp-for="FirstName">First Name</label>
        <input asp-for="FirstName" />
    </div>

    <div>
        <label asp-for="LastName">Last Name</label>
        <input asp-for="LastName" />
    </div>


    <div>
        <label asp-for="FavoriteColor">Favorite Color</label>
        <input asp-for="FavoriteColor" />
    </div>


    <div>
        <label asp-for="Birthday">Birthday</label>
        <input asp-for="Birthday" />
    </div>

    <div>
        <label asp-for="Password">Password</label>
        <input asp-for="Password" />
    </div>
    <div>
        <label asp-for="ConfirmPassword">Confirm Password</label>
        <input asp-for="ConfirmPassword" />
    </div>

    <button type="submit">Register</button>
</form>

